.owl_service.owl-carousel.owl-theme .owl-nav {
    position: absolute;
    top: -132px;
    right: 30%;
    width: auto;
  }

  .owl-carousel.owl-theme .owl-nav {
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
    width: 100%;
  }

  .owl-theme .owl-nav {
    margin-top: 10px;
  }

  .owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }

  .owl-nav .owl-prev {
    position: absolute;
    left: -70px;
  }

  .dark-theme .owl_service.owl-carousel .owl-nav button.owl-next {
    background-color: var(--second-color);
    color: var(--white-color);
  }

  .dark-theme .owl_service.owl-carousel .owl-nav button.owl-prev {
    background-color: var(--deep-blue-color);
    color: var(--second-color);
  }

  .owl_service.owl-carousel.owl-theme .owl-nav .owl-prev {
    left: auto;
    right: 70px;
  }

  .owl-carousel.owl-theme .owl-nav .disabled {
    opacity: 1;
  }

  .owl-carousel.owl-theme .owl-nav .owl-prev {
    position: absolute;
    left: -70px;
  }

  .owl-carousel.owl-theme .owl-nav [class*="owl-"] {
    background: #F2F7F7;
      background-color: rgb(242, 247, 247);
    opacity: 1;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    transition: all 0.7s ease;
    color: #002A5C;
  }

  .dark-theme .owl_service.owl-carousel .owl-nav button.owl-next {
    background-color: var(--second-color);
    color: var(--white-color);
  }

  .owl_service.owl-carousel.owl-theme .owl-nav .owl-next {
    right: 0px;
  }

  .owl-carousel.owl-theme .owl-nav .owl-next {
    position: absolute;
    right: -70px;
  }

  .owl-carousel.owl-theme .owl-nav [class*="owl-"] {
    background: #F2F7F7;
      background-color: rgb(242, 247, 247);
    opacity: 1;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    transition: all 0.7s ease;
    color: #002A5C;
  }